
@{
    
}

<div class="IngredientBox">

    <h3>Ingredients</h3>

    <div class="margin-auto">
        <input type="text" class="IngNameBox" id="IngNameBox" oninput="@{ SpoonacularGet.GetIngInfoAsync() }" placeholder="Search Ingredient Name">
    </div>

    <div class="flex">
        <input class="IngInfoBox" type="text" placeholder="Amount">
        <input class="IngInfoBox" type="text" placeholder="Ing Range">
        <div class="IngInfoBox">
            <label for="IngredientIsGrams">Is Grams?</label>
            <input type="checkbox">
        </div>
    </div>

        <div class="IngListBox">

        </div>

</div>


@* JavaSrript bellow ------------------------------------ (: *@
<script>
    document.addEventListener('DOMContentLoaded', function() {

        async function onInputChange() {
            var inputValue = document.getElementById('IngNameBox').value;
            console.log('Input changed to: ' + inputValue);

            //send ingredient name to spoonacular
            @{ 
                SpoonacularApi reader = new SpoonacularApi(); 
                Console.WriteLine("this is happening -------------");
            }
            var ingList = await reader.GetIngInfoAsync(inputValue);
            
            //
        }
    }

    //adding event listener
    document.getElementById('IngNameBox').addEventListener('input', onInputChange);

</script>