@model Meal


<div class="mdBox">


    <div class="mdLeftBox">
        <h3>MealName</h3>
        <div class="mdIngredientsBox">
            <ul>
                <li>Ing</li>
                <li>Ing</li>
                <li>Ing</li>
                <li>Ing</li>
            </ul>
            <ul>
                <li>Ing</li>
                <li>Ing</li>
                <li>Ing</li>
            </ul>
        </div>
    </div>

    <div class="mdMiddleBox">
        <div class="mdMealImg">

        </div>
    </div>

    <div class="mdRightBox">
        <div class="mdSwapMealBtnBox">
            <button>Swap Meal</button>
        </div>
        <ul>
            <li>Calories: XXXX</li>
            <li>Protein: XXXX</li>
            <li>Carbs: XXXX</li>
            <li>Fat: XXXX</li>
        </ul>
    </div>



@* 
    <div class="mdBoxContent">
    <h3>MealName</h3>
        <div class="mdIngredientsBox">
            <ul>
                <li>Ing</li>
                <li>Ing</li>
                <li>Ing</li>
                <li>Ing</li>
            </ul>
            <ul>
                <li>Ing</li>
                <li>Ing</li>
                <li>Ing</li>
                <li>Ing</li>
            </ul>
        </div>

        <div class="mdMealImg">

        </div>
    </div> *@
</div>