@{
    ViewData["Title"] = "Meal Plan";

    @* int numberOfMeals = 4; *@
}
<h1>@ViewData["Title"]</h1>


<div class="pageBox">
    @await Html.PartialAsync("_MealDisplay")
    @await Html.PartialAsync("_MealDisplay")
</div>
<div class="pageBox">
    @await Html.PartialAsync("_MealDisplay")
    @await Html.PartialAsync("_MealDisplay")
</div>

