@model Meal

<div class="body-Recipe">
    <h1 class="AddRecipeText">Add Recipe</h1>
    <div class="AddRecipeLine"></div>

    <form action="" asp-constoller="Home" method="post" class="flex">
        <div class="InfoBox">
            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="MealName">Name</label>
                <input asp-for="MealName">
                <span asp-validaton-for="MealName"></span>
            </div>

            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="MealName">Calories</label>
                <input asp-for="MealName">
                <span asp-validaton-for="MealName"></span>
            </div>

            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="MealName">Protein</label>
                <input asp-for="MealName">
                <span asp-validaton-for="MealName"></span>
            </div>

            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="MealName">Carbs</label>
                <input asp-for="MealName">
                <span asp-validaton-for="MealName"></span>
            </div>

            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="MealName">Fat</label>
                <input asp-for="MealName">
                <span asp-validaton-for="MealName"></span>
            </div>

        </div>

            @await Html.PartialAsync("_5IngredientDisplay")
            @await Html.PartialAsync("_AddIngredientsBox")




    </form>


</div>