@model Meal

<div class="body-Recipe">
    <h1 class="AddRecipeText">Add Recipe</h1>
    <div class="AddRecipeLine"></div>

    <form action="" asp-constoller="Home" method="post" class="flex">
        <div class="InfoBox">
            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="Name">Name</label>
                <input asp-for="Name">
                <span asp-validaton-for="Name"></span>
            </div>

            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="Name">Calories</label>
                <input asp-for="Name">
                <span asp-validaton-for="Name"></span>
            </div>

            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="Name">Protein</label>
                <input asp-for="Name">
                <span asp-validaton-for="Name"></span>
            </div>

            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="Name">Carbs</label>
                <input asp-for="Name">
                <span asp-validaton-for="Name"></span>
            </div>

            <div class="InfoBoxSpacing">
                <label class="paddingR-1" asp-for="Name">Fat</label>
                <input asp-for="Name">
                <span asp-validaton-for="Name"></span>
            </div>

        </div>

            @*@await Html.PartialAsync("_5IngredientDisplay")*@
            @await Html.PartialAsync("_AddIngredientsBox")




    </form>


</div>