@{
    ViewData["Title"] = "Home Page";
}

<div class="flex">

    <div class="left-main2">
        @await Html.PartialAsync("_RegForm")

    </div>

    <div class="right-main2">
        @await Html.PartialAsync("_LogForm")
    </div>




</div>
